/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* Font Family */
  --primary-kr: "Noto Sans KR", sans-serif;
  --primary-en: "Roboto", sans-serif;

  /* Object-color */
  --beige: #F1ECEA;
  --dark-gray: #242729;
  --white: #ffffff;
  --yellow: #FEE500;

  /* Font-Color */
  --cloud-white: #e7e7e7c7;
  --light-gray: #808283;
  --black: #121212;
  --pink: #F674DC;

  /* Font-size */
  --font-size: 14px;
  --font-title-main: 16px;
  --font-title-sub: 12px;
  --font-badge: 10px;
}